**fraud detection**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# do some preprocessing

In [ ]:
train_data = pd.read_csv('fraud_train.csv')
train_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,8365.0,-0.655093,1.102283,1.610914,2.542440,0.928295,0.344427,0.340831,-0.004130,-0.039325,...,0.025710,0.297263,-0.195074,-0.476353,-0.269339,0.154728,-0.004028,0.155044,16.93,0.0
1,10222.0,-0.643681,0.953126,2.223666,1.134587,-0.198051,0.435065,0.221857,0.017773,1.931767,...,-0.066355,0.684519,-0.210179,0.036703,-0.126450,-0.199370,0.377610,0.033734,20.24,0.0
2,35866.0,-2.044489,3.368306,-3.937111,5.623120,-3.079232,-1.253474,-5.778880,1.707428,-4.467103,...,1.483594,0.834311,-0.148486,0.001669,-0.038996,0.389526,1.300236,0.549940,7.61,1.0
3,10836.0,1.020913,-0.400279,0.662579,0.341929,-0.656141,-0.021927,-0.386604,0.054592,1.820545,...,-0.131286,-0.065529,-0.067101,0.260703,0.253718,1.066000,-0.096361,-0.005774,79.95,0.0
4,69.0,0.298503,2.142722,-1.542143,1.561332,0.938108,-2.145673,1.405569,-0.778459,0.328636,...,-0.290987,-0.000235,0.092174,0.586205,-0.397314,-0.480949,0.251145,-0.242279,0.78,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1949,715.0,1.090820,-0.167031,0.350139,0.695740,-0.378402,-0.168184,-0.035248,0.005667,0.191769,...,-0.161932,-0.452659,-0.098339,0.050589,0.451644,0.264640,-0.037335,0.010801,69.97,0.0
1950,14545.0,-0.283209,0.411778,0.399472,-1.464226,2.170062,3.539932,-0.354121,0.877707,1.003825,...,-0.036509,-0.041467,-0.168437,1.013956,-0.088413,1.005545,-0.037836,0.039216,15.95,0.0
1951,2620.0,0.963303,0.281584,0.069207,2.449902,0.136697,-0.165460,0.403000,0.051941,-1.119600,...,0.112280,0.035361,-0.119345,0.199708,0.519058,0.063664,-0.052564,0.010307,88.29,0.0
1952,926.0,0.829998,-0.611411,1.035351,1.615569,-0.283094,2.146994,-0.830778,0.824311,1.478535,...,-0.309388,-0.500548,0.154324,-0.996832,0.108640,-0.411158,0.125290,0.023370,64.99,0.0
1953,7589.0,-0.271919,1.294849,1.104971,0.057965,0.587584,-0.434542,0.659491,-0.149449,0.816090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
test_data = pd.read_csv('fraud_test.csv')
test_data

NameError: ignored

In [ ]:
train_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
dtype: int64

In [ ]:
train_data = train_data.dropna(axis=0, how='all', subset=['Class'])

In [ ]:
train_data.shape

(1953, 31)

In [ ]:
for i in train_data.columns :
  Q1 = train_data[i].quantile(.25)
  Q3 = train_data[i].quantile(.75)
  IQR = Q3 - Q1
  train_data[(train_data[i]> Q1 - (1.5 * IQR)) & (train_data[i]< Q3 + (1.5 * IQR))]

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

train_data[['Time']] = scaler.fit_transform(train_data[['Time']])
train_data[['Amount']] = scaler.fit_transform(train_data[['Amount']])

test_data[['Time']] = scaler.fit_transform(test_data[['Time']])
test_data[['Amount']] = scaler.fit_transform(test_data[['Amount']])

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

**mode**

In [ ]:
y=  train_data[['Class']]

In [ ]:
x = train_data.copy()
x.drop(columns= ['Class'], inplace= True)

In [ ]:
from sklearn.svm import SVC

model = SVC(C=3)
model.fit(x, y)
y_pred = model.predict(x)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1141: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

**evaluate the model**

In [ ]:
# evaluate your model
from sklearn.metrics import f1_score, classification_report
f1_score(y, y_pred, average='weighted')

0.99897119115563

**prediction**

In [ ]:
# predict labels for test samples
y_pred = model.predict(test_data)
submission =pd.DataFrame(y_pred, columns=['Class']) # To-Do
submission

      Class
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
2609    0.0
2610    0.0
2611    0.0
2612    0.0
2613    0.0

[2614 rows x 1 columns]