**fraud detection**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# do some preprocessing

In [ ]:
train_data = pd.read_csv('fraud_train.csv')
train_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,8365.0,-0.655093,1.102283,1.610914,2.542440,0.928295,0.344427,0.340831,-0.004130,-0.039325,...,0.025710,0.297263,-0.195074,-0.476353,-0.269339,0.154728,-0.004028,0.155044,16.93,0.0
1,10222.0,-0.643681,0.953126,2.223666,1.134587,-0.198051,0.435065,0.221857,0.017773,1.931767,...,-0.066355,0.684519,-0.210179,0.036703,-0.126450,-0.199370,0.377610,0.033734,20.24,0.0
2,35866.0,-2.044489,3.368306,-3.937111,5.623120,-3.079232,-1.253474,-5.778880,1.707428,-4.467103,...,1.483594,0.834311,-0.148486,0.001669,-0.038996,0.389526,1.300236,0.549940,7.61,1.0
3,10836.0,1.020913,-0.400279,0.662579,0.341929,-0.656141,-0.021927,-0.386604,0.054592,1.820545,...,-0.131286,-0.065529,-0.067101,0.260703,0.253718,1.066000,-0.096361,-0.005774,79.95,0.0
4,69.0,0.298503,2.142722,-1.542143,1.561332,0.938108,-2.145673,1.405569,-0.778459,0.328636,...,-0.290987,-0.000235,0.092174,0.586205,-0.397314,-0.480949,0.251145,-0.242279,0.78,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7835,5838.0,-1.494748,1.374609,1.739505,-0.404363,0.337228,-0.353954,0.564640,0.103308,0.928487,...,-0.366262,-0.806897,-0.032148,0.084964,0.148915,-0.015621,0.064359,0.193122,5.99,0.0
7836,11005.0,1.308485,0.069616,0.545896,0.115439,-0.312410,-0.324753,-0.373901,-0.216854,1.610789,...,-0.108423,0.013710,-0.132407,-0.392797,0.360448,1.078788,-0.082476,-0.000158,14.95,0.0
7837,8827.0,-1.746494,-0.022183,1.700978,-3.494827,-0.538017,-0.800348,-0.106467,0.517637,2.786295,...,0.152429,0.571973,-0.334028,-0.019782,0.949107,-0.907445,0.167863,-0.020605,74.11,0.0
7838,2097.0,-0.612088,0.568390,1.207450,-2.126447,0.378698,-0.712041,0.776533,0.027359,0.202120,...,0.217032,0.676543,-0.324870,0.030754,0.271729,-0.752923,0.126115,0.097501,1.00,0.0
7839,6754.0,1.055224,-0.841109,-0.136485,-0.494300,-0.619118,-0.632461,-0.105590,-0.344353,-0.096634,...,0.157926,0.207187,-0.325495,0.015611,0.617489,-0.205207,-0.078457,0.021740,200.88,0.0

In [ ]:
test_data = pd.read_csv('fraud_test.csv')
test_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,2618.0,-1.906672,-1.437287,1.871960,-2.277146,0.224878,-0.137438,-0.436180,0.447350,1.398436,...,-0.105557,0.324344,0.927203,-0.060459,-0.241201,0.035111,-0.009894,-0.018061,0.239372,129.00
1,742.0,1.304437,-0.709851,-0.112405,-2.207912,-0.355304,0.170636,-0.518525,0.050055,2.470382,...,-0.012647,0.065871,0.610271,-0.375163,-1.229720,0.948828,-0.485356,0.111789,0.012819,25.95
2,9218.0,1.153876,-0.203609,0.878412,0.879436,-0.477480,0.664532,-0.739738,0.290105,2.184308,...,-0.258792,-0.254076,-0.182890,-0.055363,-0.314974,0.398081,0.525719,-0.024923,-0.013459,0.01
3,11262.0,-0.654664,0.658514,1.923801,-1.440155,1.206681,0.397940,0.861397,-0.465204,1.301399,...,0.089678,-0.379451,-0.528356,-0.466774,-1.316150,0.181729,0.826051,-0.499333,-0.429874,11.00
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2609,14272.0,1.249014,0.449678,0.196640,1.140253,0.284454,-0.136601,0.053458,-0.158091,1.252740,...,-0.188196,-0.129143,-0.016091,-0.124864,-0.504412,0.675462,-0.304683,0.005531,0.005172,0.89
2610,3017.0,-0.873406,0.996277,1.370080,1.314848,-0.289889,0.244702,0.136410,0.704062,-0.730132,...,-0.125464,0.095403,0.227194,-0.110924,0.200514,0.049422,-0.215075,0.007172,0.029088,28.06
2611,5822.0,-1.746504,2.336897,2.211292,3.887689,-0.401255,1.462920,-0.853872,-1.090633,-0.109370,...,-0.073322,1.508737,-0.127188,0.188788,-0.087296,-0.365483,0.143746,0.043014,-0.022648,20.64
2612,7559.0,-0.683262,2.184431,0.086991,1.474910,1.195123,-1.304462,1.143837,-0.219464,-0.059003,...,0.041409,-0.228812,-0.484496,-0.463930,0.130512,0.555804,-0.240149,-0.077529,0.137752,0.89
2613,10996.0,1.143699,-0.198893,0.931460,0.288985,-1.000110,-0.652050,-0.579970,-0.012022,1.630406,...,-0.101879,-0.000246,0.115612,-0.009653,0.522929,0.102863,1.002485,-0.104637,-0.000706,39.00

In [ ]:
train_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
train_data = train_data.dropna(axis=0, how='all', subset=['Class'])

In [ ]:
train_data.shape

(7840, 31)

In [ ]:
for i in train_data.columns :
  Q1 = train_data[i].quantile(.25)
  Q3 = train_data[i].quantile(.75)
  IQR = Q3 - Q1
  train_data[(train_data[i]> Q1 - (1.5 * IQR)) & (train_data[i]< Q3 + (1.5 * IQR))]

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

train_data[['Time']] = scaler.fit_transform(train_data[['Time']])
train_data[['Amount']] = scaler.fit_transform(train_data[['Amount']])

test_data[['Time']] = scaler.fit_transform(test_data[['Time']])
test_data[['Amount']] = scaler.fit_transform(test_data[['Amount']])

**mode**

In [ ]:
y=  train_data[['Class']]

In [ ]:
x = train_data.copy()
x.drop(columns= ['Class'], inplace= True)

In [ ]:
from sklearn.svm import SVC

model = SVC(C=3)
model.fit(x, y)
y_pred = model.predict(x)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

**evaluate the model**

In [ ]:
# evaluate your model
from sklearn.metrics import f1_score, classification_report
f1_score(y, y_pred, average='weighted')

0.9997445684236828